.password-reset {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 40%;
    height: 400px;
    padding: 60px;
    border-radius: 30px;
    margin: 0 auto;
}

.password-reset h4 {
    text-align: center;
    padding-bottom: 10px;
    color: #FFB700;
    font-size: 30px;
    font-weight: 600;
}

.link-button2 {
    background-color: white;
    border: 0;
    color: #FFB700;
    margin-top: 20px;
}

.link-button2:hover {
    color: #F25C05;
    transition: 0.2s;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .password-reset {
        width: fit-content;
        margin: 0 10px;
        height: fit-content;
        padding: 60px 30px;
    }
}