.section-container {
    padding: 60px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.login-img img {
    width: 100%;
}

.login-form {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 60px 80px;
    border-radius: 40px;
    margin: 10px;
}

.login-form h4 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 10px;
    color: #FFB700;
}

.input-field {
    padding: 12px 15px;
    border-radius: 10px;
}

.link-button {
    background-color: white;
    border: 0;
    float: right;
    color: #FFB700;
}

.link-button:hover {
    color: #F25C05;
    transition: 0.2s;
}

.primary-button-lg {
    border: 0;
    background-color: #FFB700;
    color: white;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    font-weight: 600;
    color: #101010;
}

.primary-button-lg:hover {
    background-color: #ffcd4d;
    transition: 0.2s;
}

.alternative {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
    padding: 30px 0;
}

.alternative:after,
.alternative:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #FFB700;
}

.login-toggle {
    text-align: center;
    padding-top: 20px;
}

.login-toggle a {
    color: #FFB700;
    text-decoration: none;
}

.login-toggle a:hover {
    color: #F25C05;
    ;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {

    .section-container {
        padding: 40px 0;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .login-img img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .login-form {
        padding: 30px 40px;
    }
}