.company-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.company-container h2 {
    font-weight: 600;
    color: #FFB700;
    font-size: 36px;
}

.capability-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 0 26px 0;
    font-size: 40px;
}

.capability-container span {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.company-container img {
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {

    .company-container {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }

    .company-container h2 {
        font-size: 24px;
    }

    .company-container p {
        text-align: justify;
    }

    .company-info {
        order: 2;
        margin: 0 20px;
    }

    .company-container img {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .capability-container {
        display: none;
    }

}