.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.projects img {
    width: 100%;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        padding: 0 20px;
    }
}