.dashboard-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-profile img {
    width: 80px;
    border-radius: 500px;
    margin-right: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {

    .dashboard-profile {
        display: block;
        text-align: center;
    }

    .dashboard-profile img {
        display: block;
        margin: 0 auto;
    }

}