.dashboard-table {
    padding: 60px 30px;
}

.dashboard-table h2 {
    font-weight: 600;
    text-align: center;
    color: #FFB700;
    padding-bottom: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {

    .dashboard-table {
        width: fit-content;
        display: block;
        margin: 0 auto;
        padding: 40px 20px;
    }

    .status-btn button {
        display: block;
        margin: 10px 0;
    }

}