.product-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product-details img {
    width: 60%;
    display: block;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 40px;
}

.product-details span {
    font-weight: 600;
    color: #FFB700;
}

.purchase-form {
    padding-top: 50px;
    width: 50%;
    display: block;
    margin: 0 auto;
}