.hero-container {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}

.hero-info h1 {
    font-size: 30px;
}

.hero-info h1>span {
    font-size: 60px;
    font-weight: 600;
    color: #FFB700;
}

.hero-img {
    width: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {

    .hero-container {
        padding: 40px 0;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .hero-info {
        order: 1;
        text-align: center;
    }

    .hero-info h1 {
        font-size: 20px;
    }

    .hero-info h1>span {
        font-size: 40px;
    }

}